<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<style>
  .ul{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  a{
    text-decoration: none;

  }
  li{
    list-style-type: none;
  }
</style>
<body>

  <div class="header">
      <ul>
        <a href="/"><li>Calendário</li></a>
        <a href="/cadastro"><li>Cadastrar Paciente</li></a>
        <a href="/list"><li>Consultas</li></a>
      </ul>
    </div>
  <h1>Cadastro de consulta</h1> <hr>
  <form action="create" method="POST">
    <input type="text" name="name" id="name" placeholder="Nome do paciente" class="form-control">
    <input type="email" name="email" id="email" placeholder="email@email.com" class="form-control">
    <input type="text" name="cpf" id="cpf" placeholder="123.456.789-10" class="form-control cpf">
    <input type="text" name="description" id="description" class="form-control" placeholder="Descrição">
    <input type="date" name="date" id="date" class="form-control">
    <input type="time" name="time" id="time" class="form-control">
    <button class="btn btn-success btn-block">Agendar</button>
  </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="jquery.mask.min.js"></script>
<script>
  $('.cpf').mask('000.000.000-00', {reverse: true});
</script>
</html>