<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema</title>
  <link rel="stylesheet" href="style.css">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>
</head>
<style>
  .ul{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  a{
    text-decoration: none;

  }
  li{
    list-style-type: none;
  }
</style>
<body>
    <div class="header">
      <ul>
        <a href="/"><li>Calendário</li></a>
        <a href="/cadastro"><li>Cadastrar Paciente</li></a>
        <a href="/list"><li>Consultas</li></a>
      </ul>
    </div>

    <div id="calendar">

    </div>

    <script>
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale: 'pt-br',
          events: 'getcalendar',
          eventClick: function(info){
            window.location.href="/event/"+info.event.id;
          }
        });
        calendar.render();

    </script>
</body>
</html>