<style>
  .ul{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  a{
    text-decoration: none;

  }
  li{
    list-style-type: none;
  }
</style>

<div class="header">
      <ul>
        <a href="/"><li>Calendário</li></a>
        <a href="/cadastro"><li>Cadastrar Paciente</li></a>
        <a href="/list"><li>Consultas</li></a>
      </ul>
    </div>

<h3>Consulta: </h3>
<hr>
<form action="/searchresult" method="get">
  <input type="search" name="search" id="search" placeholder="Digite o e-mail ou CPF do cliente" />
  <button>Buscar</button>
</form>
<div class="container my-5">
  <div class="card text-center p-4">
    <% appos.forEach(appo => { %>
      <h1 class="mb-3">Consulta: <%= appo.description %></h1>
      <h4 class="mb-2">Paciente: <%= appo.name %></h4>
      <h4 class="mb-2">Email: <%= appo.email %></h4>
      <h4 class="mb-4">CPF: <%= appo.cpf %></h4>
      <hr class="mb-4">
    <% }) %>
  </div>
</div>
